[submodule "Carthage/Checkouts/NTSpeechTools"]
	path = Carthage/Checkouts/NTSpeechTools
	url = https://github.com/ynop/NTSpeechTools.git
[submodule "Carthage/Checkouts/CocoaAsyncSocket"]
	path = Carthage/Checkouts/CocoaAsyncSocket
	url = https://github.com/robbiehanson/CocoaAsyncSocket.git
